/nbproject/private/
/build/
/JavaProjects/target/
/JavaProjects2/nbproject/private/
/JavaProjects2/build/
/D84838GC10_labs/labs/17-ParallelStreams/solutions/practice2/SalesTxn17-02Soln/build/
/D84838GC10_labs/labs/18-JDBC/solutions/practice1/SimpleJDBC18-01Soln/build/
